<!DOCTYPE html>
<html>
    <head>
        <title><%= process.env.TITLE %></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="<%= process.env.META_TITLE %>" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="<% process.env.META_DESC %>" />
        <meta property="og:title" content="<% process.env.OG_TITLE %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= process.env.OG_URL %>" />
        <link rel="image_src" href="<%= process.env.LINK_IMG_SRC%>" type="image/png" />
        <meta property="og:image" content="<%= process.env.OG_IMG %>" />
        <meta property="og:image:secure_url" content="<%= process.env.OG_SECURE_IMG %>" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="50" />
        <meta property="og:image:width" content="220" />
        <meta property="og:description" content="<%= process.env.OG_DESC %>" />
        <meta property="og:site_name" content="<%= process.env.OG_SITE_NAME %>" />
        <meta property="og:locale" content="en_US" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="<%= process.env.TWITTER_SITE %>" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

        <% if (process.env.GOOGLE_ANALYTICS_ID) { %>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_ID %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '<%= process.env.GOOGLE_ANALYTICS_ID %>');
        </script>
        <% } %>
        <% if (process.env.GOOGLE_GTM_ID) { %>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

                })(window,document,'script','dataLayer','<%= process.env.GOOGLE_GTM_ID %>');
        </script>
        <!-- End Google Tag Manager -->
        <% } %>
    </head>

    <body>
        <% if (process.env.GOOGLE_GTM_ID) { %>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=<%= process.env.GOOGLE_GTM_ID %>"
                  height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <% } %>
        <div id="root"></div>
    </body>
</html>
